.navbar-home {
    display: flex;
    max-width: 100vw;
    background-color: salmon;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.navbar-home-center {
    font-size: large;
}

.navbar-home-center > p {
    margin: 0;
    cursor: pointer;
}

.navbar-home-center > p:hover {
    color: aqua;
}

.navbar-home > a {
        /* color: #0060B6; */
        color: inherit;
        text-decoration: none;
}